

.details {
    display:flex;
    justify-content: space-between;
    width: 90%;
    height:max-content;
    margin-top: 30px;
    padding: 30px;
    position: relative;
    z-index: 1;
}



.details article {
    display:flex;
    justify-content: center;
    width:auto;
    max-width: 100%;
   
  
}

.img{

    width: 400px;
    height: 260px;
    border: 1px solid #B82924;
    box-shadow: 0 3px 5px #B82924;
    display: flex;
    justify-content: center;
    align-items: center;
  
    
}
.img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.dealer {
    width: 200px;
    height: 260px;
    border: 1px solid #B82924;
    box-shadow: 0 3px 5px #B82924;
    padding-left: 3px;
    margin-left:20px;
}

.dealer h2 {
    color:#B82924;
    font-style: italic;
}

.flex img {
    
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #B82924;
    box-shadow: 0 3px 10px #B82924;


    
}

.flex {
    display:flex;
    justify-content: space-between;
    margin-right: 6px;
   
}

.flex input {
    width: 80px;
    height: 30px;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-right: 10px
}


.specifications {
    
    height: 260px;
    margin-left:10px;
    display: flex;
  
    align-items:baseline;
    position: relative;
    z-index: 1;
}

.specifications li {
    width: 400px;
    max-width: 400px;
    height: 30px;
    border: 1px solid #B82924;
    box-shadow: 0 3px 4px #B82924;
  

}
.ownerbtn{
    margin-right: 10px;
}

.rm{
	color: #121212;
	background-color: #F2F2F2;
	padding: 1px 4px;
	display:block;
	margin-top: 5px;
    margin-bottom: 10px;
	box-shadow: 0px 0px 3px #000;
	font-family: LeagueGothic, sans-serif;
	text-transform: uppercase; 
	font-size: 18px;
	border-radius: 2px;
}
.rm:hover{
	background-color: #B82924;
	color: #121212;
}



.details h1 {
   display:inline;

}

.time {
    display: inline;
}





.left {
    margin-left: 30px;
    font-style: italic;
    text-shadow: 0 5px 4px #B82924;
}

.right {
   float: right;
   margin-right: 30px;
   text-shadow: 0 5px 4px #B82924;
   
}

.center {
  
    margin-left: 120px;
}

.comments {

    width: 500px;
    display: flex;
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 40px;
    padding:30px;
    flex-direction: column;
    border: 1px solid #B82924;
    box-shadow: 0 3px 4px #B82924;
    font-size: medium;
}



.comments li {
    border: 1px solid #B82924;
    box-shadow: 0 3px 4px #B82924;
    margin-bottom: 20px;

}

.comments p {
    word-wrap: break-word;
    padding: 5px;
    
}

.comments ul{
    margin-top: 30px;
}

.comment-header{

    background-color: #B82924;
    font-style: italic;
    font-size: small;
    padding:3px;
}

.comments h1 {
    text-align: center;
}

.comments textarea {
    width: 400px ;
    height: 50px;
}


.like {
    display:flex;
    justify-content:space-around;
    padding-bottom: 5px;
}


