

.home {
    width: 100%;
    height: 500px;
    background: url('/public/images/home.jpg') ;
    background-size: cover;;
}

.nf {
    width: 100%;
    height: 900px;
    background: url('/public/images/404.jpg') ;
    background-size:cover;
    text-align: center;

}

.msg {
    margin-top: 100px;
    padding-left: 300px;
    padding-right: 300px;
    font-size: xx-large;
    color:#B82924;
}