

.card-large {
    display:flex;
    padding: 20px;
    margin: 20px;
    border: 1px solid #B82924;
    box-shadow: 0 3px 5px #B82924;

   
}

.card-large h3 {
    margin-bottom: 10px;
    font-size: x-large;
}