
 .profile{
	margin-right: 500px;

	font-size: 2.5em;
}


.tagline{
	display: inline-block;
	text-align: center;
	margin-left: 50px;
		margin-right: 0px;
		margin-top: 0px;
		border: 1px solid #B82924;
		box-shadow: 0 3px 4px #B82924;
		border-radius: 10%;
}		
.tagline a {
	max-width: 100px;
	margin-left: 15px;
}
.tagline button {
	padding: 2px;
	color:#B82924;
	background-color: transparent;
	border: none;
}

.tagline button:hover {

	border: 1px solid #B82924;
	box-shadow: 0 3px 4px #B82924;
	border-radius: 10%;
}



.img {
	display:flex
}

.img img{
	width: 60px;
	height: 60px;
	margin-right: 10px;
	border: 1px solid #B82924;
	box-shadow: 0 3px 4px #B82924;
	border-radius: 10%;
}

.img p {
	font-size:20px;
	font-style:oblique;
	color:#B82924;
}



#logo, nav, nav li{
	display: inline-block;
	vertical-align: top;
	*display: inline;
	zoom:1;
}
#logo{
	width: 230px;
}
nav a {
	color: #fff;
	font-family: LeagueGothic, sans-serif;
	text-decoration: none;
	font-size: 2.0em;
	margin-left: 25px;
	text-transform: uppercase;
	text-shadow: 1px 1px 0px #000;

}

nav{
	margin: 10px 14px 0 0;
	float: right;
	
	
}
header {
	margin-top: 0px;
	margin-bottom: 2px;
	z-index: 9999;
}

#header{

	height: 60px;
	margin-top: 0px;
	margin-bottom: 2px;
position: fixed;
z-index: 9999;
top: 0;
left: 0;
right: 0;
}
#home a#homenav, #blog a#blognav, #fullwidth a#fullwidthnav, #contact a#contactnav{
	color: #b82924;
}