.edit {
	width: 100%;
    display:flex;
    padding-top: 0;
    justify-content: center;
}
.edit table{

    max-width: 100%;
   height:max-content
}

.edit tbody{
    display: grid;
    
}

.edit tr{
    width: 100%;
    padding: 5px;
    margin: 20px;
}

.edit td{ 
    align-items: center;
    align-self: center;
    align-content: center;
}

.edit tr label {
    margin: 10px;
}

.edit select {
    width: 200px;
}

.edit tr td input {
    width: 200px;
}

.edit .image {
    width:440px
}
.edit label {
    font-weight: bolder;
}

 .submit p {
   margin-left: 270px
 }


.edit input[type="submit"]{
	display: block;
    margin-top: 15px;
 
	font-family: LeagueGothic, sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	border: 2px outset #e44444;
	color: #121212;
	height: 30px;
	margin-right: 3px;
    margin-left: 30px;
}

.edit input[type="submit"]:hover{
	cursor:pointer;
    border: 4px inset #dd3b3b;
}
.edit input[type="submit"]:active{
	border: 2px inset #dd3b3b;
}